@import "../pages/blog/index/index";

.nav-menu {
    order: 1;
}
.menu {
    ion-card {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
    ion-avatar img {
        max-width: 10rem;
        max-height: 10rem;
        border-radius: 10rem;
    }
}
.portal {
    ion-buttons[start] {
        order: 1;
    }
}
.biznavi-badge {
    position: relative;
    left: -10px;
    top: -5px;
}
