$padding-top: 16px;
$padding-left: 16px;
$padding-right: 16px;
$padding-bottom: 16px;

.detail {
  .title {
    padding-top: $padding-top;
    padding-right: $padding-right;
    padding-left: $padding-left;
    display: block;
    line-height: 1.2;
    margin: 2px 0 2px;
    font-size: 2.0rem;
    color: #222;
    font-weight: bold;
  }
  .status {
    color: #666;
    ion-label {
      margin: 0px;
    }
    .item-inner {
      border-bottom: 0px;
      padding-right: $padding-right;
    }
    .item-button {
      color: #666;
      padding: 0px;
    }
  }
  .status.item {
    min-height: 0;
  }
  .contents {
    padding-right: $padding-right;
    padding-left: $padding-left;
    padding-bottom: $padding-bottom;
  }
  .comment {
    .author {
      color: #666;
    }
    .item-inner {
      border: 0px;
    }
    ion-card {
      margin: 2px;
    }
    .avatar {
      font-size: 3em;
      color: #eee;
    }

  }
  .toolbar {
    position: inherit;
  }
}
